body {
  text-align: center;
  font-family: Arial;
  background: #121212;
  color: white;
}

#grid {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 5px;
  justify-content: center;
  margin: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  background: #333;
  cursor: pointer;
}

.start {
  background: green;
}

.finish {
  background: red;
}

.path {
  background: cyan;
}

.block {
  background: black;
}
